body {
	background-color: skyblue;
}
.zoom {
	background-color: pink;
	padding: 50px;
	transition: transform .2s;
	width: 100px;
	height: 100px;
	margin: 10;
	display: inline-block;
	transform: rotate(-4deg);
}
.zoom2 {
	background-color: wheat;
	padding: 50px;
	transition: transform .2s;
	width: 100px;
	height: 100px;
	margin: 10;
	display: inline-block;
	transform: rotate(4deg);
}
.zoom:hover {
  	transform: scale(1.1);
}
.zoom2:hover {
	transform: scale(1.1);
}
